div {
    background-color: ivory;
}

h1 {
    color: black;
}

h3 {
    color: grey;
}

.black {
    color: black;
}

h4 {
    color: rgb(30, 120, 150);
}

.slateblue {
    color: slateblue;
}

#special {
    color: red;
}

.green {
    color: green;
}